@import '../../common/colors.scss';

.movieListing__movie-list {
    margin: 20px 0;

    h2 {
        color: $font-secondary;
        margin: 0 10px;
        margin-top: 20px;
        font-weight: 400;
    }

    .movieListing__border-line {
        border-bottom: 5px solid grey;
        margin-bottom: 20px;
    }
}

.movieListing__movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

.movieListing__loading {
    color: white;
    text-align: center;
}